SERVER=localhost
ADMIN_PASSWORD=admin
ADMIN_SALT=i/eH15H1lD/NirbFbXTF8IZJhOtjo9IfM9fkkHg0mHY=
ADMIN_USER=edoweb-admin
API_USER=$ADMIN_USER
APACHE_LOGVERZ=/var/log/apache2
APACHE_ACCESS_LOGNAME=other_vhosts_access.log
ARCHIVE_HOME=/opt/toscience
BACKEND=api.$SERVER
CRONJOBS_DIR=$ARCHIVE_HOME/cronjobs
DATACITE_PASSWORD=admin
DATACITE_USER=admin
DOIPREFIX=10.5072/hbz:regal-
ELASTICSEARCH_CONF=/etc/elasticsearch
ELASTICSEARCH_PORT=9200
EMAIL="admin\@localhost"
EMAIL_RECIPIENT_ADMIN_USERS="admin\@localhost"
EMAIL_RECIPIENT_PROJECT_ADMIN="admin\@localhost"
FEDORA_USER=admin
FRONTEND=$SERVER
HERITRIX_DATA=http://$SERVER
HERITRIX_DIR=$ARCHIVE_HOME/heritrix-data
HERITRIX_URL=https://localhost:8443
IP=all
KEYSTORE=$ARCHIVE_HOME/conf/toscience_keystore
LINUX_GROUP=users
LINUX_USER=`whoami`
MATOMO_FORCE_IDSITES=1,2,3
MATOMO_PASSWD=admin
MATOMO_SERVER=stats.$SERVER
MATOMO_SKIP_IDSITES=
MATOMO_USER=admin
NAMESPACE=edoweb
PASSWORD=$ADMIN_PASSWORD
PLAYPORT=9000
PROJECT=edoweb
SSL_PUBLIC_CERT_BACKEND=$ARCHIVE_HOME/conf/to.science.api-ssl.crt 
SSL_PRIVATE_KEY_BACKEND=$ARCHIVE_HOME/conf/to.science.api-ssl.key
SSL_PUBLIC_CERT_FRONTEND=$ARCHIVE_HOME/conf/to.science.drupal-ssl.crt 
SSL_PRIVATE_KEY_FRONTEND=$ARCHIVE_HOME/conf/to.science.drupal-ssl.key
SSL_CHAIN_FRONTEND=/etc/ssl/chain/chain.txt
STATS_LOG=$ARCHIVE_HOME/logs/stats.log
TMPDIR=$CRONJOBS_DIR/tmp
TMPLOGVERZ=$ARCHIVE_HOME/apache2
TOMCAT_HOME=$ARCHIVE_HOME/fedora/tomcat
TOMCAT_CONF=$TOMCAT_HOME/conf
TOMCAT_PORT=8080
URNBASE=https://$FRONTEND/resource/
URNSNID=hbz:929:02
VERSION=0.8.0-SNAPSHOT
WHITELIST="127.0.0.1"
