[Unit]
Description=The to.science.api webservice
After=network.target mariadb.service elasticsearch.service fedora.service toscience-labels.service toscience-forms.service
Before=apache2.target

[Service]
EnvironmentFile=/etc/toscience/api/env
WorkingDirectory=$REGAL_APP
PIDFile=$REGAL_APP/RUNNING_PID
ExecStart=$REGAL_APP/bin/toscience-api -Dconfig.file=/etc/toscience/api/application.conf -Dapplication.secret=$API_SECRET -Dapplication.home=$REGAL_APP
#ExecReload=
#ExecStop=
Restart=on-failure
User=$LINUX_USER
Group=$LINUX_GROUP
TasksMax=infinity
NotifyAccess=all

[Install]
WantedBy=multi-user.target
Alias=regal-api.service
