[Unit]
Description=The to.science.labels webservice
After=mariadb-service fedora.service
Before=toscience-forms.service toscience-api.service
PartOf=
  
[Service]
EnvironmentFile=/etc/toscience/labels/env
WorkingDirectory=$ARCHIVE_HOME/toscience-labels
PIDFile=$ARCHIVE_HOME/toscience-labels/RUNNING_PID
ExecStart=$ARCHIVE_HOME/toscience-labels/bin/etikett -Dconfig.file=/etc/toscience/labels/application.conf -Dapplication.secret=$LABELS_SECRET -Dapplication.home=$ARCHIVE_HOME/toscience-labels -Dhttp.port=9002
Restart=on-failure
User=$LINUX_USER
Group=$LINUX_GROUP
PrivateTmp=true
KillMode=mixed
TasksMax=infinity
NotifyAccess=all
  
[Install]
WantedBy=multi-user.target
Alias=etikett.service
