[Unit]
Description=The to.science.forms webservice
After=mariadb-service fedora.service toscience-labels.service
Before=toscience-api.service
PartOf=
  
[Service]
EnvironmentFile=/etc/toscience/forms/env
WorkingDirectory=$ARCHIVE_HOME/toscience-forms
PIDFile=$ARCHIVE_HOME/toscience-forms/RUNNING_PID
ExecStart=$ARCHIVE_HOME/toscience-forms/bin/zettel -Dconfig.file=/etc/toscience/forms/application.conf -Dapplication.secret=$FORMS_SECRET -Dapplication.home=$ARCHIVE_HOME/toscience-forms  -Dhttp.port=9003
Restart=on-failure
User=$LINUX_USER
Group=$LINUX_GROUP
PrivateTmp=true
KillMode=mixed
TasksMax=infinity
NotifyAccess=all
  
[Install]
WantedBy=multi-user.target
Alias=zettel.service
